<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MONGOLAB_URI" value="mongodb://appharbor_5qtq67xw:jn9b18dicgkpvspq9o8dpbmgbc@ds033734.mongolab.com:33734/appharbor_5qtq67xw"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
  
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer></configuration>